.container {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .gridContainer {
    /* border: 3px solid red; */
    width: 70%;
    height: 300px;
    padding-top: 600px;
    margin-bottom: 190px;
  }
  .title {
    width: 100% !important;
  }
  .inpBox {
    margin-left: 5% !important;
  }
  .inpTitle {
    margin-left: 5% !important;
    margin-bottom: 8px;
  }
  .speedInfoDiv {
    width: 78% !important;
    margin-left: 0px;
  }
}
.title {
  margin: 0px auto;
  padding: 8px;
  border-bottom: 1px solid lightgrey;
  width: 590px;
}
.inpTitle {
  margin-bottom: 3px;
  color: rgb(29, 29, 31);
}
.speedInfo {
  margin-top: 0px;
  margin-bottom: 59px;
  font-size: 10px;
  color: grey;
}
.speedInfoDiv {
  margin-left: 110px;
  display: flex;
  justify-content: space-between;
  width: 460px;
}
